
#logo {
	height: 75px;
	width: 75px;
	display: inline-block;
}

#logo-container {
	float: left;
}

.img-circle {
	border-radius: 50px;
}

.navbar-tab{
	color:#000;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: Montserrat;
}

.nav-button{
  	margin: 2.4em 10px 10px 15px;
  	padding-top:10px;
}

.nav-button:hover{
	transition:all 0.2s;
	text-decoration:none;
	color: #fd4242;
}

#contact-button {
	transition: all 0.3s ease-in-out;
	border: 2px solid black;
	padding: 0.75em 2em .75em 2em;
	margin: 2.15em 10px 10px 15px;
	border-radius: 25px;
}

#contact-button:hover {
	text-decoration: none;
	color: #fd4242;
	border-color: #fd4242;
}

ul {
	list-style-type: none;
  	overflow:hidden;
}

ul li {
	float: right;
}

ul li a {
	display:flex;
	text-align:center;
	padding:10px 10px 10px 10px;
	text-decoration:none;
}

.jumbotron {
	background-color: #fff!important;
	padding-top: 0px !important;
	margin-bottom: 0px !important;
}

#greeting {
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-family: Raleway;
	font-weight: bold;
}

#profile-photo {
	height: 360px;
	width: 360px;
	display: block;
	margin: auto;
	margin-top: 2em;
}

#profile-container {
	margin-bottom: 0px;
}

.welcome-text {
	margin-top: 2.5em;
	font-size: 25px;
	line-height: 40px;
	font-size: 26px;
	font-family: Montserrat;
}

.landing-text {
	color: #000;
	text-align:center;
}

.inline-link {
	transition: font-size 0.3s ease-in-out;
	text-decoration: none;
	color: #fd4242;
}

.inline-link:hover {
	font-weight: bold;
	text-decoration: none;
	color: #fd4242;
	font-size: 28px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#about {
	margin: 1em 0px 1em 0px;
	text-align: center;
	font-family: Raleway;
	font-weight: bold;
	color: #fff;
}

#about-profile {
	border: 4px solid #fff;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	display: block;
	margin: auto;
}

#about-button-container {
	text-align:center;
	padding-top: 3em;
}

.about-button {
	font-family: Montserrat;
	transition: all 0.2s;
	border: 2px solid #fff;
	color: #fff;
	padding: 0.75em 2em .75em 2em;
	border-radius: 25px;
	margin: 0em 1em 0em 1em;
}

.about-button:hover {
	text-decoration: none;
	color: #fd4242;
	border-color: #fff;
	background-color: #fff;
}

.about-container {
	color: #fff;
	font-size: 30px;
}

.about-text {
	font-size: 20px !important;
}

#projects-header {
	margin: 1em 0px 1em 0px;
	text-align: center;
	font-family: Raleway;
	font-weight: bold;
	color: #000;
}

#projects-tabs {
	text-align: center;
}

#projects-tabs a div.active {
	border-bottom: 6px solid #fd4242;
	color: #fd4242;
}

.projects-tab {
	color: #bababa;
	border-bottom: 6px solid #bababa;
	text-align: center;
	display: inline-block;
	padding: 0em 0em 1em 0em;
	margin: 0em 1em 0em 1em;
	width: 8em;
	font-family: Raleway;
	font-weight: bold;
	font-size: 16px;
}

.projects-tab:hover {
	border-bottom: 6px solid #fd4242;
	color: #fd4242;
	cursor: pointer;
}

#projects{
	display: block;
	margin:auto;
	font-family: Montserrat;
}
#projects .row > div {
	margin-bottom: 30px;
}
#projects figure {
	position: relative;
	overflow: hidden;
}
#projects figure h3 {
	color: #FFF;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 5em;
}
#projects figure figcaption {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

figure.effect {
	background: #fd4242;
	color: #FFF;
}

figure.effect img {
	width: 100%;
	transition: opacity 0.35s;
	backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.2;
}

figure.effect figcaption {
	text-align: center;
}

figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,-100%,0);
}

figure.effect:hover h3 {
	opacity: 1;
	transform: translate3d(0,0,0);
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	transition: transform 0.35s;
	transform: translate3d(0,100%,0);
}

figure.effect:hover h3::after {
	transform: translate3d(0,0,0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,100%,0);
}

figure.effect:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

#contact { padding-bottom: 200px; }
#contact h2, #contact .row * { color: #FFFFFF; }
#contact a { display: block; line-height: 32px; margin-bottom: 20px; opacity: 0.6; filter:alpha(opacity=60);  }
#contact a .icon { float: left; margin-right: 20px; }
#contact a:hover { opacity: 1; filter:alpha(opacity=100); text-decoration: none; }